[credential]
	helper = cache
[user]
	name = Leonardo Poggiani
	email = leonardo.poggiani@gmail.com
[credential "https://dev.azure.com"]
	useHttpPath = true
[url "git@github.com:"]
 	insteadOf = https://github.com/

