name: Deploy Kubernetes Clusters

on:
  pull_request:
    branches:
      - main

jobs:
  deploy_clusters:
    runs-on: ubuntu-latest
    permissions:
      contents: 'read'
      id-token: 'write'
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.3.9
          cli_config_credentials_token: ${{ secrets.TF_API_TOKEN }}

      - name: Terraform fmt
        id: fmt
        run: terraform fmt -check
        continue-on-error: true

      - name: Terraform Init
        run: terraform init
        
      - name: Terraform Validate
        id: validate
        run: terraform validate -no-color

      - name: Google Cloud Auth
        uses: 'google-github-actions/auth@v1'
        with:
          workload_identity_provider: 'https://iam.googleapis.com/projects/2660355116/locations/global/workloadIdentityPools/my-pool/providers/my-provider'
          service_account: '2660355116-compute@developer.gserviceaccount.com'

      - name: Set up Cloud SDK
        uses: 'google-github-actions/setup-gcloud@v1'
        with:
          version: '>= 363.0.0'

      - name: 'Use gcloud CLI'
        run: 'gcloud info'

      - name: Terraform Plan
        id: plan
        run: terraform plan -no-color
        continue-on-error: true
